body {
  background-color: #000000;
}

h1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 300%;
  color: #cccccc;
  background-color: #000000;
  padding: 7px;
  text-decoration: none;
}

.jumbotron {
  background-color: black;
  border-bottom: solid 2px #333;
}

h2 {
  font-family: 'Poiret One', sans-serif;
  color: #eeeeee;
  background-color: #000000;
  padding: 7px;
}

.lightup:hover {
  color: black;
  text-shadow: 0 0 4px #ffffff;
}

.footer {
  background-color: #000;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  border-top: solid 2px #333;
  height: 150px;
}

.footer a {
  text-decoration: none;
  color: #cccccc;
}

.footer a:hover {
  color: #ffffff;
  overflow-y: hidden;
}

.footer h5 {
    overflow-y: hidden;
}

.custom-card {
  height: 350px;
  margin: 1rem;
  padding: 7px;
  width: 500px;
  text-align: center;
  border: solid 1px #333;
}

.custom-card a {
  text-decoration: none;
  color: #cccccc;
}

.custom-card a:hover {
  color: #ffffff;
}

.custom-card img:hover {
    filter: grayscale(0%);
}

img {
  filter: grayscale(100%);
}

.headshot {
  max-width: 100%;
  border: solid 2px #666666;
}

.headshot:hover {
  filter: grayscale(0%);
  border: 0;
  box-shadow: 0 0 6px #ffffff;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #eeeeee;
}

.download-link a {
 text-decoration: none;
}

.indent {
    padding-left: 50px;
}
