h1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 400%;
    color: #cccccc;
    background-color: #000000;
    padding: 7px;
}

.jumbotron {
    background-color: black;
    border-bottom: solid 2px #eeeeee;
}

h2 {
    font-family: 'Poiret One', sans-serif;
    color: #eeeeee;
    background-color: #000000;
    padding: 7px;
}

.lightup:hover {
    color: black;
    text-shadow: 0 0 4px #ffffff;
}

.footer {
    background-color: black;
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    border-top: solid 2px #eeeeee;
}

.footer a {
    text-decoration: none;
    color: #cccccc;
}

.footer a:hover {
    color: #ffffff;
}